/************ШРИФТЫ***************/
@font-face {
	font-family: "UniNeueRegular";
	src: url('fonts/UniNeueRegular.eot');
	src: local('UniNeueRegular'),
	url('fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
	url('fonts/UniNeueRegular.woff') format('woff'),
	url('fonts/UniNeueRegular.ttf') format('truetype'),
	url('fonts/UniNeueRegular.svg#UniNeueRegular') format('svg');
}
@font-face {
	font-family: "UniNeueBold";
	src: url('fonts/UniNeueBold.eot');
	src: local('UniNeueBold'),
	url('fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/UniNeueBold.woff') format('woff'),
	url('fonts/UniNeueBold.ttf') format('truetype'),
	url('fonts/UniNeueBold.svg#UniNeueBold') format('svg');
}
body {
	font: normal 100% "UniNeueRegular";
	color: #004c66;
	margin: 0;
	padding: 0;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.text {
	font-size: 1.13em;
}
	.text_highlighted, .subheading {
		font-size: 1.22em;
	}
.heading {
	font-size: 2.1em;
}
.main-product__name {
	font-size: 3.61em;
	font-family: "UniNeueBold";
}
.link {
	text-decoration: none;
	color: #004c66;
}
/************СЕТКА***************/
.centered {
	margin: 0 auto;
	width: 66.666%;
}
.bg_grey {	
	background: #f7f7f7;
}
.bg_red {
	background: #ff4d4d;
}

/***************************/
img {
	height: auto;
	width: 100%;
}
/*************HEADER**************/
.header__logo {
	max-width: 142px;
	min-width: 80px;
}
.menu__item {
	display: inline-block;
}
.header {
	position: relative;
	overflow: hidden;
}
.header__heading {
	float: left;
	width: 12%;
	margin: 0;
}
.header__nav {
	width: 88%;
	margin-left: 12%;
	padding-left: 3.5%;
}
.header__menu {
	margin: 1.7969% 0 0 0;
	display: inline-block;
	width: 65%;
	float: left;
}
.header__item {
	font-family: "UniNeueBold";
	font-size: 0.9em;
	text-transform: uppercase;	
	display: inline-block;
	text-decoration: none;
	margin-right: 4.4%;
}
		.header__item:last-child {
			margin-right: 0;
		}
	.header__link {		
	letter-spacing: 0.07em;
	white-space: nowrap;
	}
	.header__link:hover {
		color: #43b4d6;
		border-top: 2px solid #43b4d6;
	}
.header__phone {
	font-family: "UniNeueBold";
	font-size: 1.5em;
	background: url('img/phone.png') 0 0 no-repeat;
	padding-left: 3.8%;
	margin-top: 1.4063%;
	letter-spacing: 0.05em;
	text-align: left;	
	float: right;
	width: 255px;
	white-space: nowrap;
}
/*************MAIN PRODUCT**************/
.main-product {
	overflow: hidden;
	box-sizing: border-box;
}
.img-container {
	position: relative;
	width: 50%;
	float: left;	
}
.main-product__img {
	max-width: 660px;
	min-width: 320px;
}
.main-product__name {
	float: left;
	width: 40%;
	margin: 14.8% 0 5% 3.5%;
}
.main-product__button {
	display: block;
	background: #43b5d6;
	border-radius: 25px;
	border: none;
	width: 150px;
	color: #fff;
	font-family: "UniNeueBold";
	font-size: 0.35em;
	margin-top: 5.4%;
	padding: 2% 0;
}
.button {	
	cursor: pointer;
}
		.button:hover {
			background: #60d4f5;
			color: #dcedfa;
		}
.main-product__price {
	position: absolute;
	top: 75%;
	left: 25%;
	width: 29%;
	min-width: 140px;
	max-width: 200px;
	height: 65px;
	background: #ff4d4d;
	color: #fff;
	font-family: "UniNeueBold";
	font-size: 2.1em;
	border-radius: 10px;
	padding: 10px 18px;
	box-sizing: border-box;
	letter-spacing: 0.1em;
	-webkit-animation: pulsing 2s infinite;
  	animation: pulsing 2s infinite;
}
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}
/*************SLIDER**************/
.slider_companies {
}
.slider__name {
	margin: 5% 13% 0 13%;
	text-align: center;
}
.slider__item {
}
.wb {
	max-width: 186px;
}
.pepsico {
	max-width: 223px;
}
.cherkizovskiy {
	max-width: 150px;
}
.auchan {
	max-width: 173px;
}
.food_city {
	max-width: 202px;
}

.carousel-wrapper {
	position: relative;	
	height: 200px;
	overflow: hidden;
}
.carousel-item {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	text-align: center;
}
.slider__item {
	margin: 0 2%;
}
.arrow {
	position: absolute;
	display: block;
	width: 13px;
	height: 21px;
}
.arrow-prev {
	top: 50%;
	background: url('img/arrow_l.png') 0 0 no-repeat;
}
.arrow-next {
	top: 50%;
	right: 0;
	background: url('img/arrow_r.png') 0 0 no-repeat;
}
  [id^="target-item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
  }
    *:target ~ .item-1 {
    opacity: 0;
  }
    #target-item-1:target ~ .item-1 {
    opacity: 1;
  }
    #target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

/*.slider__arrow_left {
	width: 13px;
	height: 21px;
	background: url('img/arrow_l.png') 0 0 no-repeat;
}
.slider__arrow_right {
	width: 13px;
	height: 21px;
	background: url('img/arrow_r.png') 0 0 no-repeat;
}*/
/*************DESCRIPTION**************/
.description {
	overflow: hidden;
	padding: 3.7% 0 5.8% 0;
}
.description__img {
	max-width: 573px;
	float: left;
}
.description__heading {
	margin: 0 0 0 52%;
}
.description__text {
	margin: 1.8% 0 3% 52%;
}
/*************ORDERING**************/
.ordering {
	background: #ff4d4d url('img/backgr_form.jpg') 0 100% no-repeat;
	overflow: hidden;
	padding: 1.2% 0 3% 0;
}
.ordering__heading, .ordering__text, .ordering-form__heading, .ordering-form__label, .ordering-form__text {
	color: #fff;
}
.list__item {
	list-style: none;
	background: url("img/list.png") 0 9px no-repeat;
	padding-left: 1%;
}

.ordering-form__item {
	background: #fff;
	width: 29%;
	padding: 0.9% 1.5%;
	border: none;
	margin: 0 0.8% 1% 0;
	font-size: 1.13em;
	color: #004c66;
}
.ordering-form__label {
	display: inline-block;
	margin-right: 2%;
}
.ordering-form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}
.checkbox__text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #fff;
}
.checkbox__text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.ordering-form__checkbox:checked + .checkbox__text:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #ff4d4d;
    border-bottom: 2px solid #ff4d4d;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.ordering-form__checkbox:focus + .checkbox__text:before {
}
.ordering-form__fields {
	float: left;
	width: 84%;
}
.ordering-form__button {
	width: 15%;
	border-radius: 20px;
	padding: 0.8%;
	background: #43b5d6;
	color: #fff;
}
/*************FEATURES**************/
.features {
	clear: left;
	padding: 3.5% 0 25.7% 0;
}
.features__description {
	float: left;
	width: 47%;
}
.featuress__img {
	max-width: 603px;
	float: right;
}
.features__figure {
	margin: 0;
	float: right;
	width: 50%;
	margin-top: 1.6%;
}
.features__figcaption {
	float: right;
	margin-top: 1.5%;
}
.features-list__item {
	list-style: none;
	background: url("img/list.png") 0 9px no-repeat;
	padding-left: 5%;
	margin-bottom: 2%;
}
.features-list {
	padding-left: 1%;
}
.figure_hidden {
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*************ADVANTAGES**************/
.advantages {
	clear: both;
	padding-bottom: 23%;
}
.advantages__img {
	max-width: 604px;
	float: left;
	width: 50%;
}
.advantages__description {
	width: 48.4%;
	float: right;
	overflow: hidden;
}
.advantages__heading {
	margin: 0;
}
.advantages__number {
	font-size: 4.5em;
	font-family: "UniNeueBold";
	margin: 1% 0 0 0;
	font-weight: 900;
	color: #caf8fb;
}
.advantages__subheading {
	margin: 1.4% 0 0 0;
}
.advantages-list__item {
	list-style: none;
}
.advantages-list {
	padding: 0;
}
.advantages__border {
	display: inline-block;
	width: 9%;
	border-bottom: 3px solid #004c66;
	margin-right: 1%;
}
	.advantages__border:last-child {
		margin-right: 0;
		border-bottom: 3px solid #caf8fb;
	}
	.advantages__border:nth-child(12), .advantages__border:nth-child(11) {
		border-bottom: 3px solid #caf8fb;
	}
/*************TABLE**************/
.modification-table {
	border-collapse: collapse;
	margin-bottom: 3% !important;
}
.modification-table__th {
	color: #fff;
	background-color: #3f788c;
	text-transform: uppercase;
	text-align: left;
}
.modification-table__thcol {
	padding: 2% 7%;	
	border: 1px solid #3f788c;
}
	.modification-table__thcol:last-child {
		border-top-right-radius: 10px;
		-moz-border-top-right-radius: 10px;
		-webkit-border-top-right-radius: 10px;
	}
	.modification-table__thcol:first-child {
		border-top-left-radius: 10px;
		-moz-border-top-left-radius: 10px;
		-webkit-border-top-left-radius: 10px;
}
.modification-table__caption {
	width: 50%;
	margin: 2% auto 3%;
	text-align: center;
}
.modification-table__col {
	padding: 1% 0 1% 7%;
}
.modification-table__row {
	border-left: 1px solid #caf8fb;
	border-right: 1px solid #caf8fb;
}
	.modification-table__row:last-child {
		border-bottom: 1px solid #caf8fb;
	}
	.modification-table__row:nth-child(2n) {
		background-color: #caf8fb;
	}

/*************ORDERING**************/
.ordering_nobg {
	background-image: none;
}
/*************RELATED PRODUCTS**************/
.related-products {
	overflow: hidden;
}
.related-products__img {
	max-width: 423px;
}
.related-products__heading {
	width: 80%;
	margin: 4% auto;
	text-align: center;
}
.related-products__figure {
	width: 32.5%;
	float: left;
	margin: 0 0.5% 4% 0.5%;
}
	.related-products__figure:nth-of-type(3) {
		margin-right: 0;
	}
	.related-products__figure:nth-of-type(1) {
		margin-left: 0;
	}
/*************CHECKOUT**************/
.registration {
	max-width: 71px;
}
.check {
	max-width: 91px;
}
.delivery {
	max-width: 80px;
}
.checkout {
	clear: left;
}
.checkout__heading {
	padding: 4% 0;
	text-align: center;
}
.checkout__item {
	width: 32.5%;
	float: left;
	margin: 0 0.5% 4% 0.5%;
	text-align: center;
}
	.checkout__item:nth-of-type(3) {
		margin-right: 0;
	}
	.checkout__item:nth-of-type(1) {
		margin-left: 0;
	}
.checkout__email {
	clear: left;
	text-align: center;
	padding-bottom: 4%;
	margin: 0;
}
.checkout__link {
	color: #ff4d4d;
}
	.checkout__link:hover {
		text-decoration: underline;
	}
/*************E-SHOP**************/
.e-shop {
	background: url("img/backgr_e-shop.jpg");
}
.e-shop__heading {
	padding-top: 4%;
	color: #fff;
	text-align: center;
	margin: 0;
}
.e-shop__button {
	margin: 0 42.5% 6%;
	text-align: center;
}
/*************FOOTER**************/
.footer__menu {
	background-color: #004c66;
	overflow: hidden;
	}
.menu__link {	
	color: #43b5d6;
	text-decoration: underline;
	margin: 2% 5% 2% 0;
}
	.menu__link:hover {
		text-decoration: none;
	}
.footer__phone {
	font-family: "UniNeueBold";
	color: #fff;
	font-size: 1.5em;
	background: url('img/phone.png') 0 0 no-repeat;
	padding-left: 3.8%;
	margin-top: 1.4063%;
	letter-spacing: 0.05em;
	text-align: left;	
	float: right;
	width: 255px;
	white-space: nowrap;
}

/*************MEDIA**************/

@media only screen and (min-width: 1980px) {	
	body {
		width: 80%;
		margin: 0 auto;
		background: #f7f7f7;
	}
}
@media only screen and (min-width: 1590px) {
	.header__link {		
		padding: 6% 10%;
	}
}
@media only screen and (max-width: 1920px) {
	.centered {
		margin: 0 auto;
		width: 80%;
		max-width: 1280px;
	}
}
@media only screen and (max-width: 1366px) {
		
		.header__phone {
			width: 35px;
			text-indent: 50px;
		}
		.header__menu {
			width: 85%;
		}
		.main-product__name {
			margin-top: 5%;
		}
		.description__heading, .description__text {
			clear: left;
			margin-left: 0;
		}
		.description__img {
			margin-bottom: 5%;
		}
		.carousel-wrapper {
			height: 260px;
		}
}
@media only screen and (max-width: 968px) {
		.header__phone {
			float: left;
			margin-left: 5%;
			text-indent: 10px;
		}
		.main-product__name {
			font-size: 2.5em;
			margin-top: 5%;
		}
		.modification-table__caption {
			width: 80%;
		}
		.modification-table__col {
			font-size: 0.95em;
			padding-left: 5%;
		}
		.menu__item {			
			display: block;
			clear: both;
			float: left;
		}

}
@media only screen and (max-width: 768px) {
		.main-product__name {
			clear: left;
			width: 80%;
			font-size: 1.8em;
		}
		.main-product__button {
			font-size: 0.5em;
		}
		.ordering-form__item {
			display: block;
			width: 60%;
			height: 25px;
		}
		.ordering-form__fields {
			clear: both;
		}
		.ordering-form__button {
			width: 50%;
			height: 40px;
		}
		.heading {
			font-size: 1.8em;
		}
		.text_highlighted, .subheading {
			font-size: 1.1em;
		}
		.text {
			font-size: 0.95em;
		}
		.ordering-form, .ordering-form__item {
			font-size: 0.95em;
		}
		.ordering {
			background-image: none;
		}
		.list__item {
			padding-left: 5%;
		}
		.figure_hidden {
			display: block;
		}
		.features__figure {
			display: none;
			width: 100%;
		}
		.features__description {
			width: 80%;
		}
		.featuress__img {
			width: 100%;
		}
		.features {
			padding-top: 0;
		}
		.advantages__img, .advantages__description {
			clear: both;
			width: 100%;
		}
		.advantages__border {
			display: none;
		}
		.advantages {
			padding-bottom: 30%;
		}
		.modification-table__col, .modification-table__th {
			font-size: 0.9em;
			padding-left: 2%;
		}
		.modification-table {
			width: 90%;
		}
		.related-products__figure {
			clear: left;
			width: 100%;
			display: block;
			margin-bottom: 8%;
		}
		.related-products__figcaption {
			padding: 3% 0 0 4%;
		}
		.checkout__item {
			clear: left;
			width: 100%;
		}
		.e-shop__button {
			width: 30%;
			display: inline-block;
			margin: 1% 35% 6%;
		}
		.footer__phone {
			padding-left: 30px;
		}
		.carousel-wrapper {
			height: 390px;
		}

}
@media only screen and (max-width: 505px) {
	.modification-table__th {
		display: none;
	}
	.modification-table__row {
		display: block;
	}
	.modification-table__col {
		display: block;
		text-align: right;
		padding-right: 6%;
	}
	.modification-table__col:before {
		content: attr(aria-label);
		float: left;
	}
		.modification-table__col:first-child {
			text-align: left;
			background-color: #3f788c;
			color: #fff;
		}
		.modification-table__col{
			background-color: #caf8fb;
		}
		.modification-table__col:nth-child(3){
			background-color: #fff;
		}
		.e-shop__button {
			width: 200px;
			margin: 15px 0 50px 120px;
		}
		.carousel-wrapper {
			height: 470px;
		}

		
}
@media only screen and (max-width: 320px) {	
		.header__menu {
			background: url('img/menu.png') 0 0 no-repeat;
			width: 30px;
			height: 30px;
			float: right;
			cursor: pointer;
		}
		.header__menu:hover {
			width: 180px;
			height: inherit;
			background: none;
		}
			.header__menu:hover ~ .header__phone {
				display: none;
			}
		.header__phone {
			width: 35px;
			float: right;
			text-indent: -10000px;
		}
		.header__nav {
			margin-left: 60px;
			
		}
		.centered {
			width: 100%;
		}
		.main-product__name {
			width: 100%;
		}
		.main-product__button {
			font-size: 0.7em;
		}
		.description__heading, .description__text, .ordering__heading, .ordering-form__text {
			text-align: center;
		}
		.ordering-form__item {
			width: 80%;
			margin-bottom: 4%;
			height: 25px;
		}
		.ordering-form__button {
			width: 80%;
			height: 40px;			
		}
		.ordering-form {
			padding-left: 6%;
			padding-right: 6%;
		}
		.ordering__text {
			padding-left: 3%;
		}
		.checkbox__text {
			padding-bottom: 5px;
		}
		.features__description {
			clear: both;
			padding-left: 6%;
		}
		.features__figure {
			clear: both;
			width: 80%;
		}
		.features__heading {
			text-align: center;
		}
		.advantages__img, .advantages__description {
			width: 100%;
		}
		.advantages__number, .advantages__subheading, .advantages-list {
			padding-left: 6%;
		}
		.modification-table__caption {
			font-size: 1.3em;
		}
		.modification-table {
			width: 90%;
		}
		.e-shop__button {
			width: 200px;
			margin: 15px 0 50px 40px;
		}
		.menu__item  {
			padding-left: 6%;
		}
		.footer__phone {
			margin-left: 6%;
			padding-left: 30px;
		}
}